.container{
    margin: 50px auto;
    width: 500px;
    padding: 20px;
    background-color: rgb(31, 33, 29);
    border-radius: 20px;
    border: 2px solid black;

}
input{
    width: 100%;
    font-size: 45px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: rgb(11, 11, 11);
    padding: 5px 10px ;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
button{
    font-size: 32px;
    width: 70px;
    height: 45px;
    margin-top: 20px;
    border: none;
    color: rgb(69, 49, 49);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 40px;
    background: #73837e;
    box-shadow:  9px -9px 44px #4f927c,
                 /* -2px 0px 44px #6bc6a8; */
}